/* General */
html, body{
	height: 100%;
	width: 100%;
}

body{
	background-image: url(../img/bg/padrao.png);
	background-position: top center;
	background-size: cover;
}


/* Header */
#logotipo {
	margin-top: 30px;
	margin-bottom: 30px;
}


/* Form */

/* Button Form */
#facebook-button {
	background-color: #3B5998;
}

.button-submit {
	border-radius: 20px;
	width: 80%;
	height: 40px;
}


/* Footer */
footer {
	margin-top: 20px;
	font-size: 16px;
}

footer p span {
	font-weight: bold;
	text-decoration: underline;
}

/* Opções usuario */
#opcoes-usuario {
	padding-top: 10%;
	padding-left: 30px;
}

#opcoes-usuario p{
	font-size: 20px;
	font-weight: bold;
}

.footer-usuario {
	margin-top: 50%;
}

.user-name {
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 5px;
}

.city-user {
	font-size: 16px;
	margin-top: 5px;
}

/* Busca POI */
.search-icon {
	padding-top: 8px;
	margin-top: 1rem;
}

.search-box {
	margin-top: 50%;
}

/* color #00c7ad; */

/* Categorias */

.button-collection {
	margin-top: 100px;
}

.button-categorias {
	width: 70%;
	color: #00c7ad;
}

.button-icon {
	padding-right: 10px;
}